@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
  box-sizing: border-box;
}

body {
  background-color: rgb(0, 119, 119);
  background-image: radial-gradient(circle at center center, black, #ccc),
    repeating-radial-gradient(
      circle at center center,
      black,
      black,
      1rem,
      transparent 2rem,
      transparent 1rem
    );
  background-blend-mode: multiply;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  overflow: hidden;
  /* margin: 0; */
  background-color: darkcyan;
  color: #fff;
  /* font-size: 0.9rem; */
}
